.section-dft.section-dft--border
    .container
        a(href="#").shares-banner
            img(src="upload/shares.jpg" srcset="upload/shares@2x.jpg 2x, upload/shares@3x.jpg 3x")
    .container
        ul.breadcrumbs
            li
                a(href="#").breadcrumbs__link Главная
            li
                a(href="#").breadcrumbs__link Услуги
            li
                a(href="#").breadcrumbs__link Cloud
    .container
        h1 Cloud
        p.
            Модель онлайн-хранилища, в котором данные хранятся на многочисленных распределённых в сети серверах, предоставляемых в пользование клиентам, в основном, третьей стороной.
        p.
            В отличие от модели хранения данных на собственных выделенных серверах, приобретаемых или арендуемых специально для подобных целей, количество или какая-либо внутренняя структура серверов клиенту, в общем случае, не видна.
.section-dft.section-dft--services.section-dft--border
    .container
        .text-center
            h3.color-grey.services__section-title Преимущества
        .row
            .col-md-6.services__bonus-item.js-height
                .row
                    .col-xl-4.col-lg-5
                        .why-us__image-wrap
                            img(src="upload/services-illustartion-1.svg")
                    .col-xl-8.col-lg-7
                        .why-us__title.
                            Бесперебойность
                        .service-page__text
                            p.
                                Все оборудование размещено в отказоустойчивом дата-центре уровня TIER III с зарезервированными системами энергоснабжения, охлаждения и каналами связи.
            .col-md-6.services__bonus-item.js-height
                .row
                    .col-xl-4.col-lg-5
                        .why-us__image-wrap
                            img(src="upload/services-illustartion-2.svg")
                    .col-xl-8.col-lg-7
                        .why-us__title.
                            Безопасность
                        .service-page__text
                            p.
                                Системы безопасности соответствуют наиболее строгим международным стандартам. Подтверждено сертификатами PCI DSS и лицензиями ФСТЭК и ФСБ.
            .col-md-6.services__bonus-item.js-height
                .row
                    .col-xl-4.col-lg-5
                        .why-us__image-wrap
                            img(src="upload/services-illustartion-3.svg")
                    .col-xl-8.col-lg-7
                        .why-us__title.
                            Экономическая выгода
                        .service-page__text
                            p.
                                Отсутствие затрат на содержание и поддержку it инфраструктуры.



            .col-md-6.services__bonus-item.js-height
                .row
                    .col-xl-4.col-lg-5
                        .why-us__image-wrap
                            img(src="upload/services-illustartion-4.svg")
                    .col-xl-8.col-lg-7
                        .why-us__title.
                            Ответственность
                        .service-page__text
                            p.
                                Отвечаем деньгами и репутацией. Стандартный SLA 99,9% в договоре может быть увеличен и задокументирован.
            .col-md-6.services__bonus-item.js-height
                .row
                    .col-xl-4.col-lg-5
                        .why-us__image-wrap
                            img(src="upload/services-illustartion-5.svg")
                    .col-xl-8.col-lg-7
                        .why-us__title.
                            Комфорт
                        .service-page__text
                            p.
                                Круглосуточная забота о вашем оборудовании. Техподдержка, персональный сервис-менеджер и дежурная команда инженеров решат любые вопросы в режиме 24/7/365.
.section-dft.section-dft--services.section-dft--border
    .container
        .text-center
            h3.color-grey.section-title Узнать стоимость
    .container
        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        Жесткий диск
                .col-md-8
                    .testing__slider-wrap
                        .testing__params-slider
                            .js-params-slider.range-slider(data-value="60" data-min="0" data-max="300" data-step="10")
                        .testing__params-value.
                            <span></span> Gb
        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        Стоимость
                .col-md-8
                    .testing__slider-wrap
                        .testing__params-slider
                            .js-params-slider.range-slider(data-value="2159" data-min="0" data-max="100000" data-step="1")
                        .testing__params-value.
                            <span></span> руб/мес

        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        Срок размещения
                .col-md-8
                    .testing__slider-wrap
                        .testing__params-slider
                            .js-params-slider.range-slider(data-value="10" data-min="1" data-max="12" data-step="1" data-left-info="1 месяц" data-right-info="1 год" data-middle-info="6 месяц")
                        .testing__params-value
                            .testing__profit-title Ваша выгода
                            | <span></span> руб.

        .testing__btns-wrap.text-center.services__cost-btn-wrap
            a(href="#").btn-dft Заказать
            a(href="#").testing__info-link Подробнее о услуге
    .excursions.excursions--testing
        .container
            .excursions__container.services__testing
                .row
                    .excursions__bg
                        img(src="upload/bitmap_8.jpg" srcset="upload/bitmap_8@2x.jpg 2x, upload/bitmap_8@3x.jpg 3x").about-us__bg-img
                        .excursions__ie-fallback(style="background:url(upload/bitmap_8.jpg) center center; background-size: cover;")
                    .col-xl-7.col-xl-offset-1.col-lg-6.col-lg-offset-1.js-height
                        .excursions__title.
                            Бесплатное тестирование
                        .excursions__sub-title.
                            Тестируйте бесплатно полный функционал виртуального дата-центра. Конфигурируйте сами любое количество ресурсов!
                    .col-xl-4.col-lg-5.excursions__btn-wrap.js-height
                        a(href="#").btn-dft Тестировать бесплатно
.section-dft.section-dft--services.section-dft--border
    .container
        .text-center
            h3.color-grey Конфигуратор
    .container
        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        Оперативная память
                .col-md-8
                    .testing__select-wrap
                        .form-group
                            select(data-placeholder="Тема сообщения").js-styler.style-select
                                option
                                option AMD Ryzen 7 1800X
                                option Intel Core i7-6700K
                                option AMD FX-8350
                                option AMD Phenom II X4 965
                                option AMD Ryzen 7 1800X
                                option Intel Core i7-6700K
                                option AMD FX-8350
                                option AMD Phenom II X4 965
                                option AMD Ryzen 7 1800X
                                option Intel Core i7-6700K
                                option AMD FX-8350
                                option AMD Phenom II X4 965
        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        Оперативная память
                .col-md-8
                    .testing__slider-wrap
                        .testing__params-slider
                            .js-params-slider.range-slider(data-value="2" data-min="0" data-max="10" data-step="1" data-left-info="1 GB" data-right-info="16 GB")
                        .testing__params-value.
                            <span></span> Gb
        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        Количество ядер
                .col-md-8
                    .testing__slider-wrap
                        .testing__params-slider
                            .js-params-slider.range-slider(data-value="4" data-min="2" data-max="8" data-step="1")
                        .testing__params-value.
                            <span></span>
        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        HDD
                .col-md-8
                    .testing__slider-wrap
                        .testing__params-slider
                            .js-params-slider.range-slider(data-value="500" data-min="16" data-max="2000" data-step="1" data-left-info="16 GB" data-right-info="2 TB")
                        .testing__params-value.
                            <span></span> Gb


        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        SSD
                .col-md-8
                    .testing__slider-wrap
                        .testing__params-slider
                            .js-params-slider.range-slider(data-value="128" data-min="8" data-max="2000" data-step="32" data-left-info="16 GB" data-right-info="2 TB")
                        .testing__params-value.
                            <span></span> Gb

        .testing__tabs-params
            .row.testing__tabs-row
                .col-md-3.col-md-offset-1
                    .testing__params-name.text-right.
                        Контроллеры
                .col-md-8
                    .testing__checkbox-wrap
                        label.input-wrapper.testing__label-wrapper
                            input(type="checkbox")
                            span.input-wrapper__icon
                            span.input-wrapper__name HBA

                        label.input-wrapper.testing__label-wrapper
                            input(type="checkbox")
                            span.input-wrapper__icon
                            span.input-wrapper__name RAID
        .testing__btns-wrap.testing__btns-wrap--services.text-center
            a(href="#").btn-dft Заказать
            a(href="#").testing__info-link Подробнее о услуге
.section-dft.section-dft--services.section-dft--border.package
    .container
        .text-center
            h3.color-grey Пакетные предложения
    .container
        .package__list
            - var listItem = ['CPU Intel Xeon E3-1220L','RAM DDR3 8 ГБ','HDD 500 Гб','Aspeed AST2400','SuperChassis 811TQ-350B 350W','120mm High speed FAN','Ethernet 1Gb 2-port 332i Adapter','БП 350 Вт']
            .row
                .col-lg-4.col-md-6.package__item.js-height
                    .package__inner
                        .package__title HP ProLiant MicroServer
                        .package__body
                            ul.package__list
                                each listItemInner in listItem
                                    li.package__list-item
                                        +icon('list-check')
                                        = listItemInner
                        .package__price
                            | 5 699
                            span руб./мес.
                        .text-center
                            a(href="#").btn-dft.disabled Заказать


                .col-lg-4.col-md-6.package__item.js-height
                    .package__inner
                        .package__title Lenovo IdeaCentre 510S
                        .package__body
                            ul.package__list
                                each listItemInner in listItem
                                    li.package__list-item
                                        +icon('list-check')
                                        = listItemInner
                        .package__price
                            | 12 899
                            span руб./мес.
                        .text-center
                            a(href="#").btn-dft.disabled Заказать
                .col-lg-4.col-md-6.package__item.js-height
                    .package__inner
                        .package__title HP ProLiant ML310e Gen8
                        .package__body
                            ul.package__list
                                each listItemInner in listItem
                                    li.package__list-item
                                        +icon('list-check')
                                        = listItemInner
                        .package__price
                            | 19 999
                            span руб./мес.
                        .text-center
                            a(href="#").btn-dft.disabled Заказать
.section-dft.section-dft--services.section-dft--border
    .container
        .text-center
            h3.color-grey Предложения по размещению
    .container
        .js-tab-wrapper.offer
            .offer__head
                a(href="#offer-1").offer__head-link.js-tab-link.active Аренда юнита
                a(href="#offer-2").offer__head-link.js-tab-link Аренда 1/3 стойки
                a(href="#offer-3").offer__head-link.js-tab-link Аренда 1/3 стойки
                a(href="#offer-4").offer__head-link.js-tab-link Аренда стойки
                a(href="#offer-5").offer__head-link.js-tab-link Аренда секции
            .offer__body
                .offer__item.js-tab-item#offer-1.active
                    .row
                        .col-md-4.col-md-offset-1
                            .offer__item-img
                                img(src="upload/server-1.png" alt="")
                            .offer__helper.
                                Данное предложение подойдет для малого и среднего бизнеса
                        .col-md-5.col-md-offset-1
                            - var offerList = ['Два независимых ввода электричества, с выделенной мощностью 200Вт','Бесперебойное питание по первой особой категории','Бесплатный доступ в интернет на гарантированной скорости','Круглосуточный доступ согласно регламенту дата-центра','Большой выбор операторов связи (Carrier neutral)','Техническая поддержка в формате 24/7/365','Современное охлаждение - Free Cooling','5 периметров физической безопасности']
                            ul.list-dft.offers__list
                                each offerItem in offerList
                                    li= offerItem
                            a(href="#").btn-dft Получить консультацию
                .offer__item.js-tab-item#offer-2
                    .row
                        .col-md-4.col-md-offset-1
                            .offer__item-img
                                img(src="upload/server-2.png" alt="")
                            .offer__helper.
                                Данное предложение подойдет для малого и среднего бизнеса
                        .col-md-5.col-md-offset-1
                            - var offerList = ['Два независимых ввода электричества, с выделенной мощностью 200Вт','Бесперебойное питание по первой особой категории','Бесплатный доступ в интернет на гарантированной скорости','Круглосуточный доступ согласно регламенту дата-центра','Большой выбор операторов связи (Carrier neutral)','Техническая поддержка в формате 24/7/365','Современное охлаждение - Free Cooling','5 периметров физической безопасности']
                            ul.list-dft.offers__list
                                each offerItem in offerList
                                    li= offerItem
                            a(href="#").btn-dft Получить консультацию


                .offer__item.js-tab-item#offer-3
                    .row
                        .col-md-4.col-md-offset-1
                            .offer__item-img
                                img(src="upload/server-3.png" alt="")
                            .offer__helper.
                                Данное предложение подойдет для малого и среднего бизнеса
                        .col-md-5.col-md-offset-1
                            - var offerList = ['Два независимых ввода электричества, с выделенной мощностью 200Вт','Бесперебойное питание по первой особой категории','Бесплатный доступ в интернет на гарантированной скорости','Круглосуточный доступ согласно регламенту дата-центра','Большой выбор операторов связи (Carrier neutral)','Техническая поддержка в формате 24/7/365','Современное охлаждение - Free Cooling','5 периметров физической безопасности']
                            ul.list-dft.offers__list
                                each offerItem in offerList
                                    li= offerItem
                            a(href="#").btn-dft Получить консультацию
                .offer__item.js-tab-item#offer-4
                    .row
                        .col-md-4.col-md-offset-1
                            .offer__item-img
                                img(src="upload/server-1.png" alt="")
                            .offer__helper.
                                Данное предложение подойдет для малого и среднего бизнеса
                        .col-md-5.col-md-offset-1
                            - var offerList = ['Два независимых ввода электричества, с выделенной мощностью 200Вт','Бесперебойное питание по первой особой категории','Бесплатный доступ в интернет на гарантированной скорости','Круглосуточный доступ согласно регламенту дата-центра','Большой выбор операторов связи (Carrier neutral)','Техническая поддержка в формате 24/7/365','Современное охлаждение - Free Cooling','5 периметров физической безопасности']
                            ul.list-dft.offers__list
                                each offerItem in offerList
                                    li= offerItem
                            a(href="#").btn-dft Получить консультацию
                .offer__item.js-tab-item#offer-5
                    .row
                        .col-md-4.col-md-offset-1
                            .offer__item-img
                                img(src="upload/server-1.png" alt="")
                            .offer__helper.
                                Данное предложение подойдет для малого и среднего бизнеса
                        .col-md-5.col-md-offset-1
                            - var offerList = ['Два независимых ввода электричества, с выделенной мощностью 200Вт','Бесперебойное питание по первой особой категории','Бесплатный доступ в интернет на гарантированной скорости','Круглосуточный доступ согласно регламенту дата-центра','Большой выбор операторов связи (Carrier neutral)','Техническая поддержка в формате 24/7/365','Современное охлаждение - Free Cooling','5 периметров физической безопасности']
                            ul.list-dft.offers__list
                                each offerItem in offerList
                                    li= offerItem
                            a(href="#").btn-dft Получить консультацию
.section-dft.section-dft--services.section-dft--border
    .container
        .text-center
            h3.color-grey Отраслевые решения
    .container
        .js-tab-wrapper.offer
            .offer__head
                a(href="#sp-offer-1").offer__head-link.js-tab-link.active для банка
                a(href="#sp-offer-2").offer__head-link.js-tab-link для ретейла
                a(href="#sp-offer-3").offer__head-link.js-tab-link компания 3
                a(href="#sp-offer-4").offer__head-link.js-tab-link компания 4
            .offer__body.offer__body--bonus
                .offer__item.active.js-tab-item#sp-offer-1
                    .row
                        .col-md-10.col-md-offset-1.text-center
                            p.
                                Виртуализация, облачные вычисления и мобильный доступ — эти тенденции обуславливают появление новых ИТ-технологий корпоративного класса. Их объединение с традиционными возможностями может привести к созданию сложной среды из систем, стандартов и разнородных ресурсов, которой придется управлять. Серверы Dell PowerEdge нового поколения и решения общей инфраструктуры позволят справиться с ключевыми ИТ-задачами с помощью совместимых архитектур и новейших технологий. Наши решения помогут вам.
                    .row
                        .bonus-info
                            .col-md-5.col-md-offset-1.bonus-info__item.js-height
                                .bonus-info__title Премущество-1
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.
                            .col-md-5.bonus-info__item.js-height
                                .bonus-info__title Премущество-2
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.

                            .col-md-5.col-md-offset-1.bonus-info__item.js-height
                                .bonus-info__title Премущество-3
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.
                            .col-md-5.bonus-info__item.js-height
                                .bonus-info__title Премущество-4
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.
                .offer__item.js-tab-item#sp-offer-2
                    .row
                        .col-md-10.col-md-offset-1.text-center
                            p.
                                Виртуализация, облачные вычисления и мобильный доступ — эти тенденции обуславливают появление новых ИТ-технологий корпоративного класса. Их объединение с традиционными возможностями может привести к созданию сложной среды из систем, стандартов и разнородных ресурсов, которой придется управлять. Серверы Dell PowerEdge нового поколения и решения общей инфраструктуры позволят справиться с ключевыми ИТ-задачами с помощью совместимых архитектур и новейших технологий. Наши решения помогут вам.
                    .row
                        .bonus-info
                            .col-md-5.col-md-offset-1.bonus-info__item.js-height
                                .bonus-info__title Премущество-1
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.
                            .col-md-5.bonus-info__item.js-height
                                .bonus-info__title Премущество-2
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.



                .offer__item.js-tab-item#sp-offer-3
                    .row
                        .col-md-10.col-md-offset-1.text-center
                            p.
                                Виртуализация, облачные вычисления и мобильный доступ — эти тенденции обуславливают появление новых ИТ-технологий корпоративного класса. Их объединение с традиционными возможностями может привести к созданию сложной среды из систем, стандартов и разнородных ресурсов, которой придется управлять. Серверы Dell PowerEdge нового поколения и решения общей инфраструктуры позволят справиться с ключевыми ИТ-задачами с помощью совместимых архитектур и новейших технологий. Наши решения помогут вам.
                    .row
                        .bonus-info
                            .col-md-5.col-md-offset-1.bonus-info__item.js-height
                                .bonus-info__title Премущество-1
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.
                            .col-md-5.bonus-info__item.js-height
                                .bonus-info__title Премущество-2
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.

                            .col-md-5.col-md-offset-1.bonus-info__item.js-height
                                .bonus-info__title Премущество-3
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.

                .offer__item.js-tab-item#sp-offer-4
                    .row
                        .col-md-10.col-md-offset-1.text-center
                            p.
                                Виртуализация, облачные вычисления и мобильный доступ — эти тенденции обуславливают появление новых ИТ-технологий корпоративного класса. Их объединение с традиционными возможностями может привести к созданию сложной среды из систем, стандартов и разнородных ресурсов, которой придется управлять. Серверы Dell PowerEdge нового поколения и решения общей инфраструктуры позволят справиться с ключевыми ИТ-задачами с помощью совместимых архитектур и новейших технологий. Наши решения помогут вам.
                    .row
                        .bonus-info
                            .col-md-5.col-md-offset-1.bonus-info__item.js-height
                                .bonus-info__title Премущество-1
                                p.bonus-info__text.
                                    Воспользуйтесь инновациями, чтобы ускорить обработку рабочих нагрузок. Серверы PowerEdge нового поколения работают по современным стандартам и гарантируют выполнение приложений быстрее и эффективнее, чем когда-либо прежде.

.section-dft.section-dft--services.section-dft--border
    .container
        .text-center
            h3.color-grey Другие услуги

    .container

        .row
            .col-lg-4.col-md-6.js-height.services__outer-wrap
                .services__item
                    .services__image-wrap
                        img(src="upload/illustration-1.svg" alt="service image").services__image
                    .services__title.
                        Размещение оборудования (colacation)
                    .services__text.
                        Дата-центр СДН предлагает в аренду виртуальную инфраструктуру – гибкое решение для создания собственного парка виртуальных серверов (виртуального дата-центра).
            .col-lg-4.col-md-6.js-height.services__outer-wrap
                .services__item
                    .services__image-wrap
                        img(src="upload/illustration-2.svg" alt="service image").services__image
                    .services__title.
                        Аренда оборудования
                    .services__text.
                        Дата-центр СДН предлагает в аренду виртуальную инфраструктуру – гибкое решение для создания собственного парка виртуальных серверов (виртуального дата-центра).
            .col-lg-4.col-md-6.js-height.services__outer-wrap
                .services__item
                    .services__image-wrap
                        img(src="upload/illustration-3.svg" alt="service image").services__image
                    .services__title.
                        vDS/vPS
                    .services__text.
                        Дата-центр СДН предлагает в аренду виртуальную инфраструктуру – гибкое решение для создания собственного парка виртуальных серверов (виртуального дата-центра).

    .container
        .other-service__title Дополнительные услуги
        .row
            .col-lg-4.col-md-6.js-height.other-service__outer-item
                .other-service__item
                    .other-service__item-title Защита от DDoS
                    p.other-service__text.
                        Предназначена для обеспечения безопасности ресурса клиента ЦОД СДН от DDoS-атак на объем.
            .col-lg-4.col-md-6.js-height.other-service__outer-item
                .other-service__item
                    .other-service__item-title Дополнительные услуги связи
                    p.other-service__text.
                        InvGuard AS осуществляет анализ поступившей информации с помощью построения логической модели данных клиента
            .col-lg-4.col-md-6.js-height.other-service__outer-item
                .other-service__item
                    .other-service__item-title Аренда каналов связи
                    p.other-service__text.
                        Сертификаты PCI DSS, ФСТЭК, ФСБ как на инфраструктуру, так и на облачную платформу

            .col-lg-4.col-md-6.js-height.other-service__outer-item
                .other-service__item
                    .other-service__item-title Remote hands (Удаленные руки)
                    p.other-service__text.
                        Сертифицированные системные архитекторы помогут провести сайзинг, разработать архитектуру облачного решения и план миграции.

            .col-lg-4.col-md-6.js-height.other-service__outer-item
                .other-service__item
                    .other-service__item-title Smart hands (Услуги IT-специалиста)
                    p.other-service__text.
                        Электроснабжение критичной нагрузки осуществляется минимум двумя активными вводами с полным резервом мощности по каждому вводу.
.feedback.js-slider-wrapper
    .container.feedback__container
        .feedback__title.title-dft.
            Отзывы клиентов
        .feedback__slider-wrapper
            .feedback__arrows
                a(href="#" data-slider="slickPrev").feedback__arrow.feedback__arrow--left.js-arrows
                    +icon('left')
                a(href="#" data-slider="slickNext").feedback__arrow.feedback__arrow--right.js-arrows
                    +icon('right')
        .feedback__slider-wrapper.js-slider.index-slider
            - for (var x = 0; x < 5; x++)
                .feedback__slide
                    .row
                        .col-md-5
                            .feedback__image-wrap
                                img(src="upload/bitmap_7.jpg" alt="")
                        .col-md-6
                            .feedback__slide-title.
                                Максим Колесников, ПАО «ВымпелКом»
                            .feedback__slide-text.
                                Отличные ребята, отличное качество работы. Пробовал много различных VDS, скажу даже больше, не то что в россии, а по всему интернету не нашел никого адекватнее и ответственнее. Жаль, что приходится Сингапур, Японию и США арендовать у других сомнительных личностей, с удовольствием платил бы сдн. Если кто вдруг читает - не верьте, пока не попробуете сами. Лично в моем опыте работы конфузов не было!
.callback
    .container
        .callback__title.title-dft.
            Форма обратной связи
        .row
            .col-lg-6.col-lg-offset-3.text-center.callback__sub-title
                p.
                    Если у Вас остались вопросы, вы можете оставить заявку.<br> Мы вам перезвоним и проконсультируем.
    .container
        .row
            .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
                form#callback-form
                    .form-group
                        input(type="text" placeholder="Ваше имя" name="name")
                    .form-group
                        input(type="number" placeholder="Номер телефона" name="phone")
                    .form-group.text-center
                        button(type="submit").btn-dft.
                            Перезвонить мне
